<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="bg"></div>
    <p class="name">{{ location.name }}</p>
    <p class="conditionText">{{ condition.text }}</p>
    <p class="temp">{{ current.temp_f }}°</p>
    <ion-img [src]="condition.icon" class="icon"></ion-img>
    <p class="normalText">Wind Speed: {{ current.wind_mph }}</p>
    <p class="normalText">Wind Direction: {{current.wind_dir}}</p>
    <p class="normalText">Feels Like: {{current.feelslike_f}}°</p>
  </div>
</ion-content>
